In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/yinchiahuang/Library/Mobile Documents/com~apple~CloudDocs/CS677/Assignments/yinchia@bu.edu_hw1/HMC_Honda Motor Co., Ltd.csv')

In [3]:
df.head(5)

        Date       Open       High        Low      Close  Adj Close  Volume
0  2013/9/16  38.830002  38.990002  38.669998  38.830002  34.026104  440200
1  2013/9/17  38.490002  38.799999  38.360001  38.669998  33.885891  442700
2  2013/9/18  38.720001  39.860001  38.720001  39.799999  34.876091  742500
3  2013/9/19  39.770000  39.830002  39.529999  39.590000  34.692081  353300
4  2013/9/20  39.200001  39.340000  38.830002  38.900002  34.087433  877400

In [4]:
df.tail(5)

           Date       Open       High        Low      Close  Adj Close  Volume
1255  2018/9/10  28.660000  28.719999  28.540001  28.570000  28.570000  366600
1256  2018/9/11  28.379999  28.440001  28.190001  28.440001  28.440001  545700
1257  2018/9/12  28.070000  28.309999  28.000000  28.160000  28.160000  667200
1258  2018/9/13  28.719999  28.760000  28.469999  28.600000  28.600000  439200
1259  2018/9/14  28.850000  28.940001  28.799999  28.900000  28.900000  484000

In [5]:
df.shape

(1260, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 7 columns):
Date         1260 non-null object
Open         1260 non-null float64
High         1260 non-null float64
Low          1260 non-null float64
Close        1260 non-null float64
Adj Close    1260 non-null float64
Volume       1260 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [9]:
df_dates = df['Date']

In [10]:
df_dates.head(5)

0    2013/9/16
1    2013/9/17
2    2013/9/18
3    2013/9/19
4    2013/9/20
Name: Date, dtype: object

In [11]:
df_date_price = df[['Date', 'Close']]

In [12]:
df_date_price.head(5)

        Date      Close
0  2013/9/16  38.830002
1  2013/9/17  38.669998
2  2013/9/18  39.799999
3  2013/9/19  39.590000
4  2013/9/20  38.900002

In [13]:
#df_row_zero = df.loc[0]
#df_row_zero

In [14]:
#How to know if closing price in row 10 is more than 25.00?
#df['Close'].loc[10] > 25

In [15]:
#extract specific rows:
#row_list = [0, 10, 20, 30]
#df_row_subset = df.loc[row_list]
#df_row_subset

In [16]:
# parsing date column
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Day_name'] = pd.DatetimeIndex(df['Date']).weekday_name
df['Date'] = pd.DatetimeIndex(df['Date']).day
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name
0,16,38.830002,38.990002,38.669998,38.830002,34.026104,440200,2013,9,Monday
1,17,38.490002,38.799999,38.360001,38.669998,33.885891,442700,2013,9,Tuesday
2,18,38.720001,39.860001,38.720001,39.799999,34.876091,742500,2013,9,Wednesday
3,19,39.770000,39.830002,39.529999,39.590000,34.692081,353300,2013,9,Thursday
4,20,39.200001,39.340000,38.830002,38.900002,34.087433,877400,2013,9,Friday

In [17]:
# compute average close price by year
df_year_close = df[['Year', 'Close']]
avg_by_year = df_year_close.groupby('Year')['Close'].mean()
avg_by_year

Year
2013    40.252000
2014    34.271151
2015    32.669762
2016    28.087698
2017    29.909163
2018    32.750899
Name: Close, dtype: float64

In [18]:
# compute average close price by year and month
df_year_month_close = df[['Year', 'Month', 'Close']]
avg_by_year_month = df_year_month_close.groupby(['Year', 'Month'])['Close'].mean()
avg_by_year_month

Year  Month
2013  9        38.952727
      10       39.493478
      11       40.950000
      12       41.098572
2014  1        39.600953
      2        36.416842
      3        35.747619
      4        34.037619
      5        33.838095
      6        34.991905
      7        35.244091
      8        34.195714
      9        34.212381
      10       31.663478
      11       31.453158
      12       30.184545
2015  1        30.177000
      2        32.661052
      3        33.718181
      4        34.467143
      5        34.506000
      6        33.230455
      7        31.846818
      8        33.347143
      9        30.766191
      10       32.365910
      11       32.655500
      12       32.259546
2016  1        28.936316
      2        26.012000
                 ...
      4        27.362857
      5        27.141905
      6        26.273182
      7        26.158500
      8        29.647391
      9        29.776667
      10       29.538095
      11       28.655714
      12       29.924762
2017  1        30.236500
      2        31.372632
      3        30.904783
      4        28.840526
      5        28.240000
      6        27.841364
      7        27.553500
      8        27.917391
      9        29.210000
      10       30.398636
      11       32.955238
      12       33.781000
2018  1        35.826667
      2        35.542105
      3        34.483809
      4        34.590000
      5        32.855909
      6        31.285714
      7        29.515238
      8        30.177391
      9        28.635556
Name: Close, Length: 61, dtype: float64

In [19]:
# reset index
avg_by_year_month = avg_by_year_month.reset_index()
avg_by_year_month

    Year  Month      Close
0   2013      9  38.952727
1   2013     10  39.493478
2   2013     11  40.950000
3   2013     12  41.098572
4   2014      1  39.600953
5   2014      2  36.416842
6   2014      3  35.747619
7   2014      4  34.037619
8   2014      5  33.838095
9   2014      6  34.991905
10  2014      7  35.244091
11  2014      8  34.195714
12  2014      9  34.212381
13  2014     10  31.663478
14  2014     11  31.453158
15  2014     12  30.184545
16  2015      1  30.177000
17  2015      2  32.661052
18  2015      3  33.718181
19  2015      4  34.467143
20  2015      5  34.506000
21  2015      6  33.230455
22  2015      7  31.846818
23  2015      8  33.347143
24  2015      9  30.766191
25  2015     10  32.365910
26  2015     11  32.655500
27  2015     12  32.259546
28  2016      1  28.936316
29  2016      2  26.012000
..   ...    ...        ...
31  2016      4  27.362857
32  2016      5  27.141905
33  2016      6  26.273182
34  2016      7  26.158500
35  2016      8  29.647391
36  2016      9  29.776667
37  2016     10  29.538095
38  2016     11  28.655714
39  2016     12  29.924762
40  2017      1  30.236500
41  2017      2  31.372632
42  2017      3  30.904783
43  2017      4  28.840526
44  2017      5  28.240000
45  2017      6  27.841364
46  2017      7  27.553500
47  2017      8  27.917391
48  2017      9  29.210000
49  2017     10  30.398636
50  2017     11  32.955238
51  2017     12  33.781000
52  2018      1  35.826667
53  2018      2  35.542105
54  2018      3  34.483809
55  2018      4  34.590000
56  2018      5  32.855909
57  2018      6  31.285714
58  2018      7  29.515238
59  2018      8  30.177391
60  2018      9  28.635556

[61 rows x 3 columns]

In [20]:
# rename column name(s)
avg_by_year_month.rename(columns = {'Close': 'mean_month'},inplace = True)
avg_by_year_month.head(5)

   Year  Month  mean_month
0  2013      9   38.952727
1  2013     10   39.493478
2  2013     11   40.950000
3  2013     12   41.098572
4  2014      1   39.600953

In [21]:
# percent change
df['%_change'] = df['Adj Close'].pct_change()
# cleaning data: replace "NaN" with "0"
df.fillna(0, inplace = True)
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name,%_change
0,16,38.830002,38.990002,38.669998,38.830002,34.026104,440200,2013,9,Monday,0.000000
1,17,38.490002,38.799999,38.360001,38.669998,33.885891,442700,2013,9,Tuesday,-0.004121
2,18,38.720001,39.860001,38.720001,39.799999,34.876091,742500,2013,9,Wednesday,0.029222
3,19,39.770000,39.830002,39.529999,39.590000,34.692081,353300,2013,9,Thursday,-0.005276
4,20,39.200001,39.340000,38.830002,38.900002,34.087433,877400,2013,9,Friday,-0.017429

In [22]:

# computing moving average (Window=14 days)
w =14

df['std'] = df['Adj Close'].rolling(w).std()
df['st_ma'] = df['Adj Close'].rolling(w).mean()

k=2
df['Lower_Band']= df['st_ma'] - k*df['std']
df['Upper_Band']= df['st_ma'] + k*df['std']

# remove the first 14 days' data, since each moving average need 14 days to compute, NaN cannot be used
df = df.tail(len(df)-13)

# buy and sell signals
df['Buy'] = df['Adj Close'] > df['Upper_Band']
df['Sell'] = df['Adj Close'] < df['Lower_Band']
df

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name,%_change,std,st_ma,Lower_Band,Upper_Band,Buy,Sell
13,3,38.340000,38.439999,37.919998,38.070000,33.528057,321200,2013,10,Thursday,-0.005486,0.402033,34.075299,33.271232,34.879366,False,False
14,4,38.180000,38.400002,37.990002,38.369999,33.792271,232600,2013,10,Friday,0.007880,0.409031,34.058596,33.240535,34.876658,False,False
15,7,37.919998,38.230000,37.759998,37.910000,33.387142,209200,2013,10,Monday,-0.011989,0.445338,34.022971,33.132295,34.913647,False,False
16,8,38.299999,38.349998,37.849998,37.959999,33.431179,237600,2013,10,Tuesday,0.001319,0.397252,33.919763,33.125260,34.714267,False,False
17,9,38.799999,39.090000,38.500000,39.070000,34.408760,460300,2013,10,Wednesday,0.029242,0.360387,33.899526,33.178752,34.620300,False,False
18,10,39.770000,40.080002,39.700001,40.080002,35.298264,691400,2013,10,Thursday,0.025851,0.519235,33.986014,32.947545,35.024483,True,False
19,11,39.779999,40.119999,39.599998,40.119999,35.333477,377500,2013,10,Friday,0.000998,0.632368,34.073765,32.809028,35.338501,False,False
20,14,39.830002,40.330002,39.689999,40.160000,35.368710,180800,2013,10,Monday,0.000997,0.721282,34.161528,32.718964,35.604093,False,False
21,15,39.900002,39.980000,39.570000,39.570000,34.849102,207000,2013,10,Tuesday,-0.014691,0.744155,34.212483,32.724173,35.700793,False,False
22,16,39.639999,39.970001,39.570000,39.950001,35.183765,188900,2013,10,Wednesday,0.009603,0.785404,34.260293,32.689484,35.831102,False,False
23,17,40.040001,40.410000,39.990002,40.389999,35.571266,312100,2013,10,Thursday,0.011014,0.857447,34.365347,32.650454,36.080240,False,False
24,18,40.380001,40.490002,40.160000,40.400002,35.580086,232400,2013,10,Friday,0.000248,0.883558,34.507517,32.740401,36.274634,False,False
25,21,40.419998,40.470001,40.240002,40.470001,35.641727,255000,2013,10,Monday,0.001732,0.896006,34.649057,32.857046,36.441069,False,False
26,22,40.439999,40.590000,40.349998,40.540001,35.703373,308100,2013,10,Tuesday,0.001730,0.893960,34.791227,33.003307,36.579147,False,False
27,23,39.380001,39.459999,39.139999,39.290001,34.602505,282400,2013,10,Wednesday,-0.030834,0.820258,34.867973,33.227458,36.508489,False,False
28,24,39.740002,39.880001,39.520000,39.779999,35.034039,194300,2013,10,Thursday,0.012471,0.759909,34.956671,33.436853,36.476489,False,False
29,25,39.740002,39.750000,39.480000,39.650002,34.919556,158200,2013,10,Friday,-0.003268,0.612512,35.066129,33.841105,36.291153,False,False
30,28,39.880001,39.910000,39.680000,39.759998,35.016434,169900,2013,10,Monday,0.002774,0.394883,35.179362,34.389595,35.969128,False,False
31,29,40.240002,40.299999,40.000000,40.220001,35.421562,286700,2013,10,Tuesday,0.011570,0.330348,35.251705,34.591008,35.912401,False,False
32,30,40.150002,40.369999,39.840000,40.130001,35.342289,382400,2013,10,Wednesday,-0.002238,0.331034,35.254849,34.592781,35.916918,False,False
33,31,40.099998,40.130001,39.740002,39.959999,35.192574,253300,2013,10,Thursday,-0.004236,0.330602,35.244785,34.583582,35.905988,False,False
34,1,39.970001,40.110001,39.810001,40.099998,35.315868,237800,2013,11,Friday,0.003503,0.329377,35.241010,34.582256,35.899765,False,False
35,4,40.020000,40.090000,39.840000,40.070000,35.289444,193100,2013,11,Monday,-0.000748,0.309499,35.272463,34.653465,35.891462,False,False
36,5,39.730000,39.910000,39.560001,39.869999,35.113312,142400,2013,11,Tuesday,-0.004991,0.311618,35.267431,34.644195,35.890667,False,False
37,6,40.000000,40.150002,39.880001,39.900002,35.139740,403000,2013,11,Wednesday,0.000753,0.300392,35.236608,34.635823,35.837392,False,False
38,7,39.830002,39.869999,39.090000,39.110001,34.443985,387300,2013,11,Thursday,-0.019800,0.349851,35.155458,34.455756,35.855159,False,True
39,8,39.400002,39.619999,39.250000,39.619999,34.893139,220200,2013,11,Friday,0.013040,0.326222,35.101987,34.449544,35.754430,False,False
40,11,39.810001,39.889999,39.689999,39.759998,35.016434,148300,2013,11,Monday,0.003534,0.276714,35.052920,34.499493,35.606347,False,False
41,12,39.930000,40.130001,39.820000,40.070000,35.289444,340900,2013,11,Tuesday,0.007797,0.250350,35.101987,34.601286,35.602688,False,False
42,13,40.209999,40.779999,40.009998,40.779999,35.914745,262200,2013,11,Wednesday,0.017719,0.329957,35.164895,34.504980,35.824809,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,3,30.190001,30.660000,30.190001,30.660000,30.660000,530100,2018,8,Friday,0.018266,0.525531,29.948571,28.897510,30.999633,False,False
1231,6,30.450001,30.469999,30.270000,30.290001,30.290001,524600,2018,8,Monday,-0.012068,0.524885,29.995000,28.945231,31.044769,False,False
1232,7,30.750000,30.790001,30.670000,30.730000,30.730000,532200,2018,8,Tuesday,0.014526,0.540055,30.081429,29.001319,31.161539,False,False
1233,8,30.740000,30.770000,30.670000,30.730000,30.730000,1166300,2018,8,Wednesday,0.000000,0.525506,30.177857,29.126846,31.228869,False,False
1234,9,30.549999,30.549999,30.180000,30.240000,30.240000,559500,2018,8,Thursday,-0.015945,0.441961,30.252857,29.368935,31.136780,False,False
1235,10,30.200001,30.240000,29.959999,30.090000,30.090000,924400,2018,8,Friday,-0.004960,0.343157,30.312143,29.625830,30.998456,False,False
1236,13,29.799999,29.990000,29.629999,29.690001,29.690001,516500,2018,8,Monday,-0.013293,0.337337,30.315000,29.640327,30.989673,False,False
1237,14,29.910000,30.020000,29.870001,29.940001,29.940001,442000,2018,8,Tuesday,0.008420,0.329626,30.320715,29.661463,30.979966,False,False
1238,15,29.459999,29.480000,29.200001,29.430000,29.430000,496500,2018,8,Wednesday,-0.017034,0.399431,30.280715,29.481852,31.079577,False,True
1239,16,29.590000,29.879999,29.580000,29.790001,29.790001,314000,2018,8,Thursday,0.012232,0.419856,30.242143,29.402430,31.081856,False,False
1240,17,29.790001,30.059999,29.740000,30.000000,30.000000,349700,2018,8,Friday,0.007049,0.420784,30.211429,29.369861,31.052997,False,False
1241,20,30.040001,30.260000,30.020000,30.219999,30.219999,302000,2018,8,Monday,0.007333,0.400653,30.180000,29.378694,30.981306,False,False
1242,21,30.250000,30.410000,30.250000,30.330000,30.330000,331100,2018,8,Tuesday,0.003640,0.385076,30.160715,29.390562,30.930868,False,False
1243,22,30.700001,30.700001,30.450001,30.480000,30.480000,400500,2018,8,Wednesday,0.004946,0.393923,30.187143,29.399296,30.974990,False,False
1244,23,30.040001,30.049999,29.830000,29.959999,29.959999,416300,2018,8,Thursday,-0.017060,0.373166,30.137143,29.390812,30.883474,False,False
1245,24,29.680000,29.840000,29.639999,29.680000,29.680000,578900,2018,8,Friday,-0.009346,0.389212,30.093571,29.315147,30.871996,False,False
1246,27,30.150000,30.469999,30.020000,30.430000,30.430000,767600,2018,8,Monday,0.025270,0.358526,30.072143,29.355090,30.789195,False,False
1247,28,30.520000,30.639999,30.469999,30.480000,30.480000,493000,2018,8,Tuesday,0.001643,0.328182,30.054286,29.397923,30.710649,False,False
1248,29,30.500000,30.629999,30.400000,30.540001,30.540001,278100,2018,8,Wednesday,0.001969,0.350290,30.075714,29.375134,30.776295,False,False
1249,30,30.129999,30.160000,29.959999,30.030001,30.030001,579500,2018,8,Thursday,-0.016699,0.350469,30.071429,29.370491,30.772367,False,False
1250,31,29.740000,29.830000,29.510000,29.629999,29.629999,673500,2018,8,Friday,-0.013320,0.355818,30.067143,29.355506,30.778780,False,False
1251,4,29.100000,29.139999,28.860001,28.980000,28.980000,681500,2018,9,Tuesday,-0.021937,0.459579,29.998571,29.079413,30.917730,False,True
1252,5,28.709999,28.850000,28.549999,28.670000,28.670000,794700,2018,9,Wednesday,-0.010697,0.564756,29.944286,28.814773,31.073798,False,True
1253,6,28.740000,28.799999,28.559999,28.750000,28.750000,658200,2018,9,Thursday,0.002790,0.648762,29.870000,28.572476,31.167524,False,False
1254,7,28.730000,28.750000,28.549999,28.650000,28.650000,465800,2018,9,Friday,-0.003478,0.723927,29.773571,28.325716,31.221426,False,False
1255,10,28.660000,28.719999,28.540001,28.570000,28.570000,366600,2018,9,Monday,-0.002792,0.777953,29.655714,28.099808,31.211621,False,False
1256,11,28.379999,28.440001,28.190001,28.440001,28.440001,545700,2018,9,Tuesday,-0.004550,0.815046,29.520714,27.890623,31.150806,False,False
1257,12,28.070000,28.309999,28.000000,28.160000,28.160000,667200,2018,9,Wednesday,-0.009845,0.840455,29.355000,27.674089,31.035911,False,False
1258,13,28.719999,28.760000,28.469999,28.600000,28.600000,439200,2018,9,Thursday,0.015625,0.843739,29.257857,27.570380,30.945335,False,False
1259,14,28.850000,28.940001,28.799999,28.900000,28.900000,484000,2018,9,Friday,0.010490,0.839461,29.202143,27.523220,30.881066,False,False

In [23]:
columnsTitles = ['Year', 'Month', 'Date','Day_name','Open','High','Low','Adj Close','st_ma','std','Lower_Band','Upper_Band','Buy','Sell']
df = df[columnsTitles]
conditions = [(df['Buy']== True) & (df['Sell'] == False), (df['Buy']== False) & (df['Sell'] == True),(df['Buy']== False) & (df['Sell'] == False)]
choices = [1,1 ,0]
df['Suppose_Trans'] = np.select(conditions,choices)

df_trans = df[df['Suppose_Trans']==1]
df_trans['Real_Trans'] = np.where(df_trans['Buy'] !=df_trans['Buy'].shift(+1),1,0) 
df_trans = df_trans[['Year', 'Month', 'Date','Day_name','Adj Close','Buy','Sell','Suppose_Trans','Real_Trans']]
df_trans

/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Year,Month,Date,Day_name,Adj Close,Buy,Sell,Suppose_Trans,Real_Trans
18,2013,10,10,Thursday,35.298264,True,False,1,1
38,2013,11,7,Thursday,34.443985,False,True,1,1
42,2013,11,13,Wednesday,35.914745,True,False,1,1
43,2013,11,14,Thursday,36.046841,True,False,1,0
48,2013,11,21,Thursday,37.367893,True,False,1,0
82,2014,1,13,Monday,35.591522,False,True,1,1
89,2014,1,23,Thursday,34.458813,False,True,1,0
90,2014,1,24,Friday,33.626987,False,True,1,0
96,2014,2,3,Monday,32.246517,False,True,1,0
153,2014,4,25,Friday,29.412172,False,True,1,0
154,2014,4,28,Monday,29.100512,False,True,1,0
173,2014,5,23,Friday,30.908165,True,False,1,1
191,2014,6,19,Thursday,31.745213,True,False,1,0
192,2014,6,20,Friday,31.727392,True,False,1,0
209,2014,7,16,Wednesday,31.974691,True,False,1,0
218,2014,7,29,Tuesday,32.270336,True,False,1,0
235,2014,8,21,Thursday,31.114624,True,False,1,0
264,2014,10,2,Thursday,28.822401,False,True,1,1
282,2014,10,28,Tuesday,27.011995,False,True,1,0
304,2014,11,28,Friday,27.309225,False,True,1,0
314,2014,12,12,Friday,26.426540,False,True,1,0
315,2014,12,15,Monday,26.057251,False,True,1,0
337,2015,1,16,Friday,27.947004,True,False,1,1
350,2015,2,5,Thursday,28.989124,True,False,1,0
374,2015,3,12,Thursday,31.082434,True,False,1,0
376,2015,3,16,Monday,31.200237,True,False,1,0
387,2015,3,31,Tuesday,29.844105,False,True,1,1
388,2015,4,1,Wednesday,29.798555,False,True,1,0
435,2015,6,9,Tuesday,30.436251,False,True,1,0
438,2015,6,12,Friday,30.208504,False,True,1,0
...,...,...,...,...,...,...,...,...,...
1038,2017,10,27,Friday,30.494333,True,False,1,0
1039,2017,10,30,Monday,30.661938,True,False,1,0
1041,2017,11,1,Wednesday,31.421093,True,False,1,0
1042,2017,11,2,Thursday,32.337990,True,False,1,0
1043,2017,11,3,Friday,32.407005,True,False,1,0
1044,2017,11,6,Monday,33.047848,True,False,1,0
1070,2017,12,13,Wednesday,33.254890,True,False,1,0
1073,2017,12,18,Monday,33.550667,True,False,1,0
1074,2017,12,19,Tuesday,33.797142,True,False,1,0
1084,2018,1,4,Thursday,35.199757,True,False,1,0
1085,2018,1,5,Friday,35.358582,True,False,1,0
1102,2018,1,31,Wednesday,35.031006,False,True,1,1
1103,2018,2,1,Thursday,34.911884,False,True,1,0
1105,2018,2,5,Monday,34.594231,False,True,1,0
1108,2018,2,8,Thursday,34.147537,False,True,1,0
1137,2018,3,22,Thursday,33.690910,False,True,1,0
1138,2018,3,23,Friday,32.668472,False,True,1,0
1165,2018,5,2,Wednesday,33.180000,False,True,1,0
1181,2018,5,24,Thursday,32.380001,False,True,1,0
1182,2018,5,25,Friday,32.040001,False,True,1,0
1183,2018,5,29,Tuesday,31.730000,False,True,1,0
1184,2018,5,30,Wednesday,31.530001,False,True,1,0
1198,2018,6,19,Tuesday,31.290001,False,True,1,0
1199,2018,6,20,Wednesday,31.030001,False,True,1,0
1200,2018,6,21,Thursday,30.650000,False,True,1,0
1202,2018,6,25,Monday,30.040001,False,True,1,0
1225,2018,7,27,Friday,30.330000,True,False,1,1
1238,2018,8,15,Wednesday,29.430000,False,True,1,1
1251,2018,9,4,Tuesday,28.980000,False,True,1,0
1252,2018,9,5,Wednesday,28.670000,False,True,1,0

In [24]:
def buy(cost,price):
    shares = cost / price
    return shares

cost = 100
    
shares = []

#df_trans.is_copy = False
df_trans = df_trans.reset_index()

for row in range(125):
    if (df_trans.loc[row]['Buy'] == True) and (df_trans.loc[row]['Real_Trans'] ==1):
        shares.append(buy(cost,df_trans.loc[row]['Adj Close'])) 
    elif (df_trans.loc[row]['Buy'] == True) and (df_trans.loc[row]['Real_Trans'] ==0):
        shares.append(shares[len(shares)-1])
    else:
        shares.append(0)
        
df_trans['Shares']= shares

df_trans

,index,Year,Month,Date,Day_name,Adj Close,Buy,Sell,Suppose_Trans,Real_Trans,Shares
0,18,2013,10,10,Thursday,35.298264,True,False,1,1,2.833001
1,38,2013,11,7,Thursday,34.443985,False,True,1,1,0.000000
2,42,2013,11,13,Wednesday,35.914745,True,False,1,1,2.784372
3,43,2013,11,14,Thursday,36.046841,True,False,1,0,2.784372
4,48,2013,11,21,Thursday,37.367893,True,False,1,0,2.784372
5,82,2014,1,13,Monday,35.591522,False,True,1,1,0.000000
6,89,2014,1,23,Thursday,34.458813,False,True,1,0,0.000000
7,90,2014,1,24,Friday,33.626987,False,True,1,0,0.000000
8,96,2014,2,3,Monday,32.246517,False,True,1,0,0.000000
9,153,2014,4,25,Friday,29.412172,False,True,1,0,0.000000
10,154,2014,4,28,Monday,29.100512,False,True,1,0,0.000000
11,173,2014,5,23,Friday,30.908165,True,False,1,1,3.235391
12,191,2014,6,19,Thursday,31.745213,True,False,1,0,3.235391
13,192,2014,6,20,Friday,31.727392,True,False,1,0,3.235391
14,209,2014,7,16,Wednesday,31.974691,True,False,1,0,3.235391
15,218,2014,7,29,Tuesday,32.270336,True,False,1,0,3.235391
16,235,2014,8,21,Thursday,31.114624,True,False,1,0,3.235391
17,264,2014,10,2,Thursday,28.822401,False,True,1,1,0.000000
18,282,2014,10,28,Tuesday,27.011995,False,True,1,0,0.000000
19,304,2014,11,28,Friday,27.309225,False,True,1,0,0.000000
20,314,2014,12,12,Friday,26.426540,False,True,1,0,0.000000
21,315,2014,12,15,Monday,26.057251,False,True,1,0,0.000000
22,337,2015,1,16,Friday,27.947004,True,False,1,1,3.578201
23,350,2015,2,5,Thursday,28.989124,True,False,1,0,3.578201
24,374,2015,3,12,Thursday,31.082434,True,False,1,0,3.578201
25,376,2015,3,16,Monday,31.200237,True,False,1,0,3.578201
26,387,2015,3,31,Tuesday,29.844105,False,True,1,1,0.000000
27,388,2015,4,1,Wednesday,29.798555,False,True,1,0,0.000000
28,435,2015,6,9,Tuesday,30.436251,False,True,1,0,0.000000
29,438,2015,6,12,Friday,30.208504,False,True,1,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
95,1038,2017,10,27,Friday,30.494333,True,False,1,0,3.671731
96,1039,2017,10,30,Monday,30.661938,True,False,1,0,3.671731
97,1041,2017,11,1,Wednesday,31.421093,True,False,1,0,3.671731
98,1042,2017,11,2,Thursday,32.337990,True,False,1,0,3.671731
99,1043,2017,11,3,Friday,32.407005,True,False,1,0,3.671731
100,1044,2017,11,6,Monday,33.047848,True,False,1,0,3.671731
101,1070,2017,12,13,Wednesday,33.254890,True,False,1,0,3.671731
102,1073,2017,12,18,Monday,33.550667,True,False,1,0,3.671731
103,1074,2017,12,19,Tuesday,33.797142,True,False,1,0,3.671731
104,1084,2018,1,4,Thursday,35.199757,True,False,1,0,3.671731
105,1085,2018,1,5,Friday,35.358582,True,False,1,0,3.671731
106,1102,2018,1,31,Wednesday,35.031006,False,True,1,1,0.000000
107,1103,2018,2,1,Thursday,34.911884,False,True,1,0,0.000000
108,1105,2018,2,5,Monday,34.594231,False,True,1,0,0.000000
109,1108,2018,2,8,Thursday,34.147537,False,True,1,0,0.000000
110,1137,2018,3,22,Thursday,33.690910,False,True,1,0,0.000000
111,1138,2018,3,23,Friday,32.668472,False,True,1,0,0.000000
112,1165,2018,5,2,Wednesday,33.180000,False,True,1,0,0.000000
113,1181,2018,5,24,Thursday,32.380001,False,True,1,0,0.000000
114,1182,2018,5,25,Friday,32.040001,False,True,1,0,0.000000
115,1183,2018,5,29,Tuesday,31.730000,False,True,1,0,0.000000
116,1184,2018,5,30,Wednesday,31.530001,False,True,1,0,0.000000
117,1198,2018,6,19,Tuesday,31.290001,False,True,1,0,0.000000
118,1199,2018,6,20,Wednesday,31.030001,False,True,1,0,0.000000
119,1200,2018,6,21,Thursday,30.650000,False,True,1,0,0.000000
120,1202,2018,6,25,Monday,30.040001,False,True,1,0,0.000000
121,1225,2018,7,27,Friday,30.330000,True,False,1,1,3.297066
122,1238,2018,8,15,Wednesday,29.430000,False,True,1,1,0.000000
123,1251,2018,9,4,Tuesday,28.980000,False,True,1,0,0.000000
124,1252,2018,9,5,Wednesday,28.670000,False,True,1,0,0.000000

In [25]:
def sell(cost,shares, price):
    revenue = shares * price
    profit = revenue - cost
    return profit

profit = [] 

for row in range(125):
    if (df_trans.loc[row]['Sell'] == True) and (df_trans.loc[row]['Real_Trans'] == 1):
        profit.append(sell(cost,df_trans.loc[row-1]['Shares'],df_trans.loc[row]['Adj Close'])) 
    else:
        profit.append(0)


df_trans['Profit']= profit
df_trans

,index,Year,Month,Date,Day_name,Adj Close,Buy,Sell,Suppose_Trans,Real_Trans,Shares,Profit
0,18,2013,10,10,Thursday,35.298264,True,False,1,1,2.833001,0.000000
1,38,2013,11,7,Thursday,34.443985,False,True,1,1,0.000000,-2.420173
2,42,2013,11,13,Wednesday,35.914745,True,False,1,1,2.784372,0.000000
3,43,2013,11,14,Thursday,36.046841,True,False,1,0,2.784372,0.000000
4,48,2013,11,21,Thursday,37.367893,True,False,1,0,2.784372,0.000000
5,82,2014,1,13,Monday,35.591522,False,True,1,1,0.000000,-0.899973
6,89,2014,1,23,Thursday,34.458813,False,True,1,0,0.000000,0.000000
7,90,2014,1,24,Friday,33.626987,False,True,1,0,0.000000,0.000000
8,96,2014,2,3,Monday,32.246517,False,True,1,0,0.000000,0.000000
9,153,2014,4,25,Friday,29.412172,False,True,1,0,0.000000,0.000000
10,154,2014,4,28,Monday,29.100512,False,True,1,0,0.000000,0.000000
11,173,2014,5,23,Friday,30.908165,True,False,1,1,3.235391,0.000000
12,191,2014,6,19,Thursday,31.745213,True,False,1,0,3.235391,0.000000
13,192,2014,6,20,Friday,31.727392,True,False,1,0,3.235391,0.000000
14,209,2014,7,16,Wednesday,31.974691,True,False,1,0,3.235391,0.000000
15,218,2014,7,29,Tuesday,32.270336,True,False,1,0,3.235391,0.000000
16,235,2014,8,21,Thursday,31.114624,True,False,1,0,3.235391,0.000000
17,264,2014,10,2,Thursday,28.822401,False,True,1,1,0.000000,-6.748262
18,282,2014,10,28,Tuesday,27.011995,False,True,1,0,0.000000,0.000000
19,304,2014,11,28,Friday,27.309225,False,True,1,0,0.000000,0.000000
20,314,2014,12,12,Friday,26.426540,False,True,1,0,0.000000,0.000000
21,315,2014,12,15,Monday,26.057251,False,True,1,0,0.000000,0.000000
22,337,2015,1,16,Friday,27.947004,True,False,1,1,3.578201,0.000000
23,350,2015,2,5,Thursday,28.989124,True,False,1,0,3.578201,0.000000
24,374,2015,3,12,Thursday,31.082434,True,False,1,0,3.578201,0.000000
25,376,2015,3,16,Monday,31.200237,True,False,1,0,3.578201,0.000000
26,387,2015,3,31,Tuesday,29.844105,False,True,1,1,0.000000,6.788209
27,388,2015,4,1,Wednesday,29.798555,False,True,1,0,0.000000,0.000000
28,435,2015,6,9,Tuesday,30.436251,False,True,1,0,0.000000,0.000000
29,438,2015,6,12,Friday,30.208504,False,True,1,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1038,2017,10,27,Friday,30.494333,True,False,1,0,3.671731,0.000000
96,1039,2017,10,30,Monday,30.661938,True,False,1,0,3.671731,0.000000
97,1041,2017,11,1,Wednesday,31.421093,True,False,1,0,3.671731,0.000000
98,1042,2017,11,2,Thursday,32.337990,True,False,1,0,3.671731,0.000000
99,1043,2017,11,3,Friday,32.407005,True,False,1,0,3.671731,0.000000
100,1044,2017,11,6,Monday,33.047848,True,False,1,0,3.671731,0.000000
101,1070,2017,12,13,Wednesday,33.254890,True,False,1,0,3.671731,0.000000
102,1073,2017,12,18,Monday,33.550667,True,False,1,0,3.671731,0.000000
103,1074,2017,12,19,Tuesday,33.797142,True,False,1,0,3.671731,0.000000
104,1084,2018,1,4,Thursday,35.199757,True,False,1,0,3.671731,0.000000
105,1085,2018,1,5,Friday,35.358582,True,False,1,0,3.671731,0.000000
106,1102,2018,1,31,Wednesday,35.031006,False,True,1,1,0.000000,28.624438
107,1103,2018,2,1,Thursday,34.911884,False,True,1,0,0.000000,0.000000
108,1105,2018,2,5,Monday,34.594231,False,True,1,0,0.000000,0.000000
109,1108,2018,2,8,Thursday,34.147537,False,True,1,0,0.000000,0.000000
110,1137,2018,3,22,Thursday,33.690910,False,True,1,0,0.000000,0.000000
111,1138,2018,3,23,Friday,32.668472,False,True,1,0,0.000000,0.000000
112,1165,2018,5,2,Wednesday,33.180000,False,True,1,0,0.000000,0.000000
113,1181,2018,5,24,Thursday,32.380001,False,True,1,0,0.000000,0.000000
114,1182,2018,5,25,Friday,32.040001,False,True,1,0,0.000000,0.000000
115,1183,2018,5,29,Tuesday,31.730000,False,True,1,0,0.000000,0.000000
116,1184,2018,5,30,Wednesday,31.530001,False,True,1,0,0.000000,0.000000
117,1198,2018,6,19,Tuesday,31.290001,False,True,1,0,0.000000,0.000000
118,1199,2018,6,20,Wednesday,31.030001,False,True,1,0,0.000000,0.000000
119,1200,2018,6,21,Thursday,30.650000,False,True,1,0,0.000000,0.000000
120,1202,2018,6,25,Monday,30.040001,False,True,1,0,0.000000,0.000000
121,1225,2018,7,27,Friday,30.330000,True,False,1,1,3.297066,0.000000
122,1238,2018,8,15,Wednesday,29.430000,False,True,1,1,0.000000,-2.967359
123,1251,2018,9,4,Tuesday,28.980000,False,True,1,0,0.000000,0.000000
124,1252,2018,9,5,Wednesday,28.670000,False,True,1,0,0.000000,0.000000

In [26]:
# count the total number of transactions

total_trans = sum(df_trans['Real_Trans'])/2    #1 buy + 1 sell = 1 transaction
total_profit = sum(df_trans['Profit'])
total_average_profit = total_profit / total_trans

print("trans = ", total_trans)
print("P/L = ",total_average_profit )

# count the number of win transactions
df_win_trans = df_trans[df_trans['Profit']> 0]
win_trans = len(df_win_trans)
win_profit = sum(df_win_trans['Profit'])
average_win_profit = win_profit/ win_trans

print("winning = ", win_trans)
print("P/L = ",average_win_profit)

# count the number of lost transactions
df_lose_trans = df_trans[df_trans['Profit'] < 0]
lose_trans = len(df_lose_trans)
lose_profit = sum(df_lose_trans['Profit'])
average_lose_profit = lose_profit/ lose_trans

print("losing = ", lose_trans)
print("P/L = ", average_lose_profit )

trans =  13.0
P/L =  1.7084080028042261
winning =  5
P/L =  8.991048232713329
losing =  8
P/L =  -2.8432421408889628