In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/yinchiahuang/Library/Mobile Documents/com~apple~CloudDocs/CS677/Assignments/yinchia@bu.edu_hw1/HMC_Honda Motor Co., Ltd.csv')

In [3]:
df.head(5)

        Date       Open       High        Low      Close  Adj Close  Volume
0  2013/9/16  38.830002  38.990002  38.669998  38.830002  34.026104  440200
1  2013/9/17  38.490002  38.799999  38.360001  38.669998  33.885891  442700
2  2013/9/18  38.720001  39.860001  38.720001  39.799999  34.876091  742500
3  2013/9/19  39.770000  39.830002  39.529999  39.590000  34.692081  353300
4  2013/9/20  39.200001  39.340000  38.830002  38.900002  34.087433  877400

In [4]:
df.tail(5)

           Date       Open       High        Low      Close  Adj Close  Volume
1255  2018/9/10  28.660000  28.719999  28.540001  28.570000  28.570000  366600
1256  2018/9/11  28.379999  28.440001  28.190001  28.440001  28.440001  545700
1257  2018/9/12  28.070000  28.309999  28.000000  28.160000  28.160000  667200
1258  2018/9/13  28.719999  28.760000  28.469999  28.600000  28.600000  439200
1259  2018/9/14  28.850000  28.940001  28.799999  28.900000  28.900000  484000

In [5]:
df.shape

(1260, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 7 columns):
Date         1260 non-null object
Open         1260 non-null float64
High         1260 non-null float64
Low          1260 non-null float64
Close        1260 non-null float64
Adj Close    1260 non-null float64
Volume       1260 non-null int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [8]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [9]:
df_dates = df['Date']

In [10]:
df_dates.head(5)

0    2013/9/16
1    2013/9/17
2    2013/9/18
3    2013/9/19
4    2013/9/20
Name: Date, dtype: object

In [11]:
df_date_price = df[['Date', 'Close']]

In [12]:
df_date_price.head(5)

        Date      Close
0  2013/9/16  38.830002
1  2013/9/17  38.669998
2  2013/9/18  39.799999
3  2013/9/19  39.590000
4  2013/9/20  38.900002

In [13]:
#df_row_zero = df.loc[0]
#df_row_zero

In [14]:
#How to know if closing price in row 10 is more than 25.00?
#df['Close'].loc[10] > 25

In [15]:
#extract specific rows:
#row_list = [0, 10, 20, 30]
#df_row_subset = df.loc[row_list]
#df_row_subset

In [16]:
# parsing date column
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Day_name'] = pd.DatetimeIndex(df['Date']).weekday_name
df['Date'] = pd.DatetimeIndex(df['Date']).day
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name
0,16,38.830002,38.990002,38.669998,38.830002,34.026104,440200,2013,9,Monday
1,17,38.490002,38.799999,38.360001,38.669998,33.885891,442700,2013,9,Tuesday
2,18,38.720001,39.860001,38.720001,39.799999,34.876091,742500,2013,9,Wednesday
3,19,39.770000,39.830002,39.529999,39.590000,34.692081,353300,2013,9,Thursday
4,20,39.200001,39.340000,38.830002,38.900002,34.087433,877400,2013,9,Friday

In [17]:
# compute average close price by year
df_year_close = df[['Year', 'Close']]
avg_by_year = df_year_close.groupby('Year')['Close'].mean()
avg_by_year

Year
2013    40.252000
2014    34.271151
2015    32.669762
2016    28.087698
2017    29.909163
2018    32.750899
Name: Close, dtype: float64

In [18]:
# compute average close price by year and month
df_year_month_close = df[['Year', 'Month', 'Close']]
avg_by_year_month = df_year_month_close.groupby(['Year', 'Month'])['Close'].mean()
avg_by_year_month

Year  Month
2013  9        38.952727
      10       39.493478
      11       40.950000
      12       41.098572
2014  1        39.600953
      2        36.416842
      3        35.747619
      4        34.037619
      5        33.838095
      6        34.991905
      7        35.244091
      8        34.195714
      9        34.212381
      10       31.663478
      11       31.453158
      12       30.184545
2015  1        30.177000
      2        32.661052
      3        33.718181
      4        34.467143
      5        34.506000
      6        33.230455
      7        31.846818
      8        33.347143
      9        30.766191
      10       32.365910
      11       32.655500
      12       32.259546
2016  1        28.936316
      2        26.012000
                 ...
      4        27.362857
      5        27.141905
      6        26.273182
      7        26.158500
      8        29.647391
      9        29.776667
      10       29.538095
      11       28.655714
      12       29.924762
2017  1        30.236500
      2        31.372632
      3        30.904783
      4        28.840526
      5        28.240000
      6        27.841364
      7        27.553500
      8        27.917391
      9        29.210000
      10       30.398636
      11       32.955238
      12       33.781000
2018  1        35.826667
      2        35.542105
      3        34.483809
      4        34.590000
      5        32.855909
      6        31.285714
      7        29.515238
      8        30.177391
      9        28.635556
Name: Close, Length: 61, dtype: float64

In [19]:
# reset index
avg_by_year_month = avg_by_year_month.reset_index()
avg_by_year_month

    Year  Month      Close
0   2013      9  38.952727
1   2013     10  39.493478
2   2013     11  40.950000
3   2013     12  41.098572
4   2014      1  39.600953
5   2014      2  36.416842
6   2014      3  35.747619
7   2014      4  34.037619
8   2014      5  33.838095
9   2014      6  34.991905
10  2014      7  35.244091
11  2014      8  34.195714
12  2014      9  34.212381
13  2014     10  31.663478
14  2014     11  31.453158
15  2014     12  30.184545
16  2015      1  30.177000
17  2015      2  32.661052
18  2015      3  33.718181
19  2015      4  34.467143
20  2015      5  34.506000
21  2015      6  33.230455
22  2015      7  31.846818
23  2015      8  33.347143
24  2015      9  30.766191
25  2015     10  32.365910
26  2015     11  32.655500
27  2015     12  32.259546
28  2016      1  28.936316
29  2016      2  26.012000
..   ...    ...        ...
31  2016      4  27.362857
32  2016      5  27.141905
33  2016      6  26.273182
34  2016      7  26.158500
35  2016      8  29.647391
36  2016      9  29.776667
37  2016     10  29.538095
38  2016     11  28.655714
39  2016     12  29.924762
40  2017      1  30.236500
41  2017      2  31.372632
42  2017      3  30.904783
43  2017      4  28.840526
44  2017      5  28.240000
45  2017      6  27.841364
46  2017      7  27.553500
47  2017      8  27.917391
48  2017      9  29.210000
49  2017     10  30.398636
50  2017     11  32.955238
51  2017     12  33.781000
52  2018      1  35.826667
53  2018      2  35.542105
54  2018      3  34.483809
55  2018      4  34.590000
56  2018      5  32.855909
57  2018      6  31.285714
58  2018      7  29.515238
59  2018      8  30.177391
60  2018      9  28.635556

[61 rows x 3 columns]

In [20]:
# rename column name(s)
avg_by_year_month.rename(columns = {'Close': 'mean_month'},inplace = True)
avg_by_year_month.head(5)

   Year  Month  mean_month
0  2013      9   38.952727
1  2013     10   39.493478
2  2013     11   40.950000
3  2013     12   41.098572
4  2014      1   39.600953

In [21]:
# percent change
df['%_change'] = df['Adj Close'].pct_change()
# cleaning data: replace "NaN" with "0"
df.fillna(0, inplace = True)
df.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name,%_change
0,16,38.830002,38.990002,38.669998,38.830002,34.026104,440200,2013,9,Monday,0.000000
1,17,38.490002,38.799999,38.360001,38.669998,33.885891,442700,2013,9,Tuesday,-0.004121
2,18,38.720001,39.860001,38.720001,39.799999,34.876091,742500,2013,9,Wednesday,0.029222
3,19,39.770000,39.830002,39.529999,39.590000,34.692081,353300,2013,9,Thursday,-0.005276
4,20,39.200001,39.340000,38.830002,38.900002,34.087433,877400,2013,9,Friday,-0.017429

In [22]:
# computing moving average (W=14 and 50)
# short term moving average (14 days):st_ma --> s_win = 14 (short window length)
# long term moving average (15 days) :lt_ma --> l_win = 50 (long window length)

s_win = 14 
l_win = 50

df['Adj Close'].rolling(window =14).mean()
df['st_ma'] = df['Adj Close'].rolling(window = s_win).mean()
df['lt_ma'] = df['Adj Close'].rolling(window = l_win).mean()

# remove the first 50 days' data, since each moving average need 50 days to compute, NaN cannot be used
df = df.tail(len(df)-50)
# buy and sell signals
df['Buy'] = df['st_ma'] > df['lt_ma']
df['Sell'] = df['st_ma'] < df['lt_ma']

df

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day_name,%_change,st_ma,lt_ma,Buy,Sell
50,25,42.889999,42.959999,42.540001,42.610001,37.526421,350200,2013,11,Monday,-0.002108,36.012249,35.039925,True,False
51,26,42.160000,42.200001,41.950001,42.110001,37.086063,235500,2013,11,Tuesday,-0.011735,36.151272,35.103929,True,False
52,27,41.869999,42.090000,41.830002,42.020000,37.006802,197400,2013,11,Wednesday,-0.002137,36.334330,35.146543,True,False
53,29,42.360001,42.500000,42.220001,42.360001,37.306236,90500,2013,11,Friday,0.008091,36.506695,35.198826,True,False
54,2,42.349998,42.470001,41.840000,41.880001,36.883507,202900,2013,12,Monday,-0.011331,36.640057,35.254748,True,False
55,3,41.540001,41.900002,41.299999,41.520000,36.566448,446300,2013,12,Tuesday,-0.008596,36.731271,35.303977,True,False
56,4,41.220001,41.570000,41.009998,41.410000,36.469585,174600,2013,12,Wednesday,-0.002649,36.770903,35.350569,True,False
57,5,41.209999,41.310001,40.959999,41.080002,36.178951,213700,2013,12,Thursday,-0.007969,36.780339,35.391433,True,False
58,6,41.889999,42.000000,41.740002,41.939999,36.936352,167400,2013,12,Friday,0.020935,36.828778,35.439871,True,False
59,9,41.820000,41.830002,41.430000,41.450001,36.504803,300700,2013,12,Monday,-0.011684,36.842617,35.487957,True,False
60,10,41.110001,41.389999,41.029999,41.299999,36.372707,277300,2013,12,Tuesday,-0.003619,36.863376,35.543617,True,False
61,11,41.049999,41.110001,40.650002,40.740002,35.879513,148800,2013,12,Wednesday,-0.013559,36.835069,35.588004,True,False
62,12,40.689999,40.779999,40.500000,40.590000,35.747410,166100,2013,12,Thursday,-0.003682,36.719320,35.628693,True,False
63,13,40.660000,40.740002,40.299999,40.349998,35.536041,167400,2013,12,Friday,-0.005913,36.571489,35.668852,True,False
64,16,40.049999,40.180000,39.950001,39.970001,35.201378,569900,2013,12,Monday,-0.009418,36.405414,35.697034,True,False
65,17,39.869999,40.020000,39.810001,39.900002,35.139740,329000,2013,12,Tuesday,-0.001751,36.266391,35.732086,True,False
66,18,40.790001,41.450001,40.759998,41.439999,36.496006,421100,2013,12,Wednesday,0.038596,36.229905,35.793383,True,False
67,19,40.880001,40.939999,40.650002,40.650002,35.800255,306500,2013,12,Thursday,-0.019064,36.122335,35.821213,True,False
68,20,41.130001,41.310001,41.080002,41.299999,36.372707,301700,2013,12,Friday,0.015990,36.085850,35.842702,True,False
69,23,41.490002,41.650002,41.360001,41.619999,36.654522,232000,2013,12,Monday,0.007748,36.092141,35.869122,True,False
70,24,41.049999,41.250000,40.930000,41.000000,36.108490,106200,2013,12,Tuesday,-0.014897,36.066348,35.883918,True,False
71,26,41.040001,41.330002,41.000000,41.110001,36.379097,188700,2013,12,Thursday,0.007494,36.080644,35.914518,True,False
72,27,41.290001,41.290001,40.950001,41.250000,36.502983,386000,2013,12,Friday,0.003405,36.049689,35.940902,True,False
73,30,41.139999,41.279999,41.060001,41.220001,36.476444,187100,2013,12,Monday,-0.000727,36.047664,35.959006,True,False
74,31,41.259998,41.349998,41.099998,41.349998,36.591473,146200,2013,12,Tuesday,0.003154,36.063290,35.979234,True,False
75,2,41.099998,41.130001,40.599998,40.689999,36.007427,179400,2014,1,Thursday,-0.015961,36.072427,35.986548,True,False
76,3,40.680000,40.820000,40.500000,40.689999,36.007427,191900,2014,1,Friday,0.000000,36.090999,35.992629,True,False
77,6,41.080002,41.380001,40.660000,40.799999,36.104771,277000,2014,1,Monday,0.002703,36.131623,36.022674,True,False
78,7,40.669998,40.810001,40.560001,40.709999,36.025127,207000,2014,1,Tuesday,-0.002206,36.190462,36.042496,True,False
79,8,40.720001,40.720001,40.500000,40.650002,35.972034,258100,2014,1,Wednesday,-0.001474,36.249912,36.063545,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,3,30.190001,30.660000,30.190001,30.660000,30.660000,530100,2018,8,Friday,0.018266,29.948571,30.552600,False,True
1231,6,30.450001,30.469999,30.270000,30.290001,30.290001,524600,2018,8,Monday,-0.012068,29.995000,30.510800,False,True
1232,7,30.750000,30.790001,30.670000,30.730000,30.730000,532200,2018,8,Tuesday,0.014526,30.081429,30.484600,False,True
1233,8,30.740000,30.770000,30.670000,30.730000,30.730000,1166300,2018,8,Wednesday,0.000000,30.177857,30.464600,False,True
1234,9,30.549999,30.549999,30.180000,30.240000,30.240000,559500,2018,8,Thursday,-0.015945,30.252857,30.438800,False,True
1235,10,30.200001,30.240000,29.959999,30.090000,30.090000,924400,2018,8,Friday,-0.004960,30.312143,30.405400,False,True
1236,13,29.799999,29.990000,29.629999,29.690001,29.690001,516500,2018,8,Monday,-0.013293,30.315000,30.359000,False,True
1237,14,29.910000,30.020000,29.870001,29.940001,29.940001,442000,2018,8,Tuesday,0.008420,30.320715,30.314400,True,False
1238,15,29.459999,29.480000,29.200001,29.430000,29.430000,496500,2018,8,Wednesday,-0.017034,30.280715,30.264000,True,False
1239,16,29.590000,29.879999,29.580000,29.790001,29.790001,314000,2018,8,Thursday,0.012232,30.242143,30.215600,True,False
1240,17,29.790001,30.059999,29.740000,30.000000,30.000000,349700,2018,8,Friday,0.007049,30.211429,30.173000,True,False
1241,20,30.040001,30.260000,30.020000,30.219999,30.219999,302000,2018,8,Monday,0.007333,30.180000,30.134200,True,False
1242,21,30.250000,30.410000,30.250000,30.330000,30.330000,331100,2018,8,Tuesday,0.003640,30.160715,30.087400,True,False
1243,22,30.700001,30.700001,30.450001,30.480000,30.480000,400500,2018,8,Wednesday,0.004946,30.187143,30.053800,True,False
1244,23,30.040001,30.049999,29.830000,29.959999,29.959999,416300,2018,8,Thursday,-0.017060,30.137143,30.005000,True,False
1245,24,29.680000,29.840000,29.639999,29.680000,29.680000,578900,2018,8,Friday,-0.009346,30.093571,29.956200,True,False
1246,27,30.150000,30.469999,30.020000,30.430000,30.430000,767600,2018,8,Monday,0.025270,30.072143,29.928400,True,False
1247,28,30.520000,30.639999,30.469999,30.480000,30.480000,493000,2018,8,Tuesday,0.001643,30.054286,29.904600,True,False
1248,29,30.500000,30.629999,30.400000,30.540001,30.540001,278100,2018,8,Wednesday,0.001969,30.075714,29.889600,True,False
1249,30,30.129999,30.160000,29.959999,30.030001,30.030001,579500,2018,8,Thursday,-0.016699,30.071429,29.869600,True,False
1250,31,29.740000,29.830000,29.510000,29.629999,29.629999,673500,2018,8,Friday,-0.013320,30.067143,29.849200,True,False
1251,4,29.100000,29.139999,28.860001,28.980000,28.980000,681500,2018,9,Tuesday,-0.021937,29.998571,29.818000,True,False
1252,5,28.709999,28.850000,28.549999,28.670000,28.670000,794700,2018,9,Wednesday,-0.010697,29.944286,29.790600,True,False
1253,6,28.740000,28.799999,28.559999,28.750000,28.750000,658200,2018,9,Thursday,0.002790,29.870000,29.763200,True,False
1254,7,28.730000,28.750000,28.549999,28.650000,28.650000,465800,2018,9,Friday,-0.003478,29.773571,29.750600,True,False
1255,10,28.660000,28.719999,28.540001,28.570000,28.570000,366600,2018,9,Monday,-0.002792,29.655714,29.735800,False,True
1256,11,28.379999,28.440001,28.190001,28.440001,28.440001,545700,2018,9,Tuesday,-0.004550,29.520714,29.719200,False,True
1257,12,28.070000,28.309999,28.000000,28.160000,28.160000,667200,2018,9,Wednesday,-0.009845,29.355000,29.702400,False,True
1258,13,28.719999,28.760000,28.469999,28.600000,28.600000,439200,2018,9,Thursday,0.015625,29.257857,29.696400,False,True
1259,14,28.850000,28.940001,28.799999,28.900000,28.900000,484000,2018,9,Friday,0.010490,29.202143,29.692000,False,True

In [23]:
df['Transactions'] = np.where(df['Buy'] != df['Buy'].shift(+1),1,0)
columnsTitles = ['Year', 'Month', 'Date','Day_name','Open','High','Low','Close','Adj Close','Volume','%_change','st_ma','lt_ma','Buy','Sell','Transactions']
df.reindex(columns=columnsTitles)

,Year,Month,Date,Day_name,Open,High,Low,Close,Adj Close,Volume,%_change,st_ma,lt_ma,Buy,Sell,Transactions
50,2013,11,25,Monday,42.889999,42.959999,42.540001,42.610001,37.526421,350200,-0.002108,36.012249,35.039925,True,False,1
51,2013,11,26,Tuesday,42.160000,42.200001,41.950001,42.110001,37.086063,235500,-0.011735,36.151272,35.103929,True,False,0
52,2013,11,27,Wednesday,41.869999,42.090000,41.830002,42.020000,37.006802,197400,-0.002137,36.334330,35.146543,True,False,0
53,2013,11,29,Friday,42.360001,42.500000,42.220001,42.360001,37.306236,90500,0.008091,36.506695,35.198826,True,False,0
54,2013,12,2,Monday,42.349998,42.470001,41.840000,41.880001,36.883507,202900,-0.011331,36.640057,35.254748,True,False,0
55,2013,12,3,Tuesday,41.540001,41.900002,41.299999,41.520000,36.566448,446300,-0.008596,36.731271,35.303977,True,False,0
56,2013,12,4,Wednesday,41.220001,41.570000,41.009998,41.410000,36.469585,174600,-0.002649,36.770903,35.350569,True,False,0
57,2013,12,5,Thursday,41.209999,41.310001,40.959999,41.080002,36.178951,213700,-0.007969,36.780339,35.391433,True,False,0
58,2013,12,6,Friday,41.889999,42.000000,41.740002,41.939999,36.936352,167400,0.020935,36.828778,35.439871,True,False,0
59,2013,12,9,Monday,41.820000,41.830002,41.430000,41.450001,36.504803,300700,-0.011684,36.842617,35.487957,True,False,0
60,2013,12,10,Tuesday,41.110001,41.389999,41.029999,41.299999,36.372707,277300,-0.003619,36.863376,35.543617,True,False,0
61,2013,12,11,Wednesday,41.049999,41.110001,40.650002,40.740002,35.879513,148800,-0.013559,36.835069,35.588004,True,False,0
62,2013,12,12,Thursday,40.689999,40.779999,40.500000,40.590000,35.747410,166100,-0.003682,36.719320,35.628693,True,False,0
63,2013,12,13,Friday,40.660000,40.740002,40.299999,40.349998,35.536041,167400,-0.005913,36.571489,35.668852,True,False,0
64,2013,12,16,Monday,40.049999,40.180000,39.950001,39.970001,35.201378,569900,-0.009418,36.405414,35.697034,True,False,0
65,2013,12,17,Tuesday,39.869999,40.020000,39.810001,39.900002,35.139740,329000,-0.001751,36.266391,35.732086,True,False,0
66,2013,12,18,Wednesday,40.790001,41.450001,40.759998,41.439999,36.496006,421100,0.038596,36.229905,35.793383,True,False,0
67,2013,12,19,Thursday,40.880001,40.939999,40.650002,40.650002,35.800255,306500,-0.019064,36.122335,35.821213,True,False,0
68,2013,12,20,Friday,41.130001,41.310001,41.080002,41.299999,36.372707,301700,0.015990,36.085850,35.842702,True,False,0
69,2013,12,23,Monday,41.490002,41.650002,41.360001,41.619999,36.654522,232000,0.007748,36.092141,35.869122,True,False,0
70,2013,12,24,Tuesday,41.049999,41.250000,40.930000,41.000000,36.108490,106200,-0.014897,36.066348,35.883918,True,False,0
71,2013,12,26,Thursday,41.040001,41.330002,41.000000,41.110001,36.379097,188700,0.007494,36.080644,35.914518,True,False,0
72,2013,12,27,Friday,41.290001,41.290001,40.950001,41.250000,36.502983,386000,0.003405,36.049689,35.940902,True,False,0
73,2013,12,30,Monday,41.139999,41.279999,41.060001,41.220001,36.476444,187100,-0.000727,36.047664,35.959006,True,False,0
74,2013,12,31,Tuesday,41.259998,41.349998,41.099998,41.349998,36.591473,146200,0.003154,36.063290,35.979234,True,False,0
75,2014,1,2,Thursday,41.099998,41.130001,40.599998,40.689999,36.007427,179400,-0.015961,36.072427,35.986548,True,False,0
76,2014,1,3,Friday,40.680000,40.820000,40.500000,40.689999,36.007427,191900,0.000000,36.090999,35.992629,True,False,0
77,2014,1,6,Monday,41.080002,41.380001,40.660000,40.799999,36.104771,277000,0.002703,36.131623,36.022674,True,False,0
78,2014,1,7,Tuesday,40.669998,40.810001,40.560001,40.709999,36.025127,207000,-0.002206,36.190462,36.042496,True,False,0
79,2014,1,8,Wednesday,40.720001,40.720001,40.500000,40.650002,35.972034,258100,-0.001474,36.249912,36.063545,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,2018,8,3,Friday,30.190001,30.660000,30.190001,30.660000,30.660000,530100,0.018266,29.948571,30.552600,False,True,0
1231,2018,8,6,Monday,30.450001,30.469999,30.270000,30.290001,30.290001,524600,-0.012068,29.995000,30.510800,False,True,0
1232,2018,8,7,Tuesday,30.750000,30.790001,30.670000,30.730000,30.730000,532200,0.014526,30.081429,30.484600,False,True,0
1233,2018,8,8,Wednesday,30.740000,30.770000,30.670000,30.730000,30.730000,1166300,0.000000,30.177857,30.464600,False,True,0
1234,2018,8,9,Thursday,30.549999,30.549999,30.180000,30.240000,30.240000,559500,-0.015945,30.252857,30.438800,False,True,0
1235,2018,8,10,Friday,30.200001,30.240000,29.959999,30.090000,30.090000,924400,-0.004960,30.312143,30.405400,False,True,0
1236,2018,8,13,Monday,29.799999,29.990000,29.629999,29.690001,29.690001,516500,-0.013293,30.315000,30.359000,False,True,0
1237,2018,8,14,Tuesday,29.910000,30.020000,29.870001,29.940001,29.940001,442000,0.008420,30.320715,30.314400,True,False,1
1238,2018,8,15,Wednesday,29.459999,29.480000,29.200001,29.430000,29.430000,496500,-0.017034,30.280715,30.264000,True,False,0
1239,2018,8,16,Thursday,29.590000,29.879999,29.580000,29.790001,29.790001,314000,0.012232,30.242143,30.215600,True,False,0
1240,2018,8,17,Friday,29.790001,30.059999,29.740000,30.000000,30.000000,349700,0.007049,30.211429,30.173000,True,False,0
1241,2018,8,20,Monday,30.040001,30.260000,30.020000,30.219999,30.219999,302000,0.007333,30.180000,30.134200,True,False,0
1242,2018,8,21,Tuesday,30.250000,30.410000,30.250000,30.330000,30.330000,331100,0.003640,30.160715,30.087400,True,False,0
1243,2018,8,22,Wednesday,30.700001,30.700001,30.450001,30.480000,30.480000,400500,0.004946,30.187143,30.053800,True,False,0
1244,2018,8,23,Thursday,30.040001,30.049999,29.830000,29.959999,29.959999,416300,-0.017060,30.137143,30.005000,True,False,0
1245,2018,8,24,Friday,29.680000,29.840000,29.639999,29.680000,29.680000,578900,-0.009346,30.093571,29.956200,True,False,0
1246,2018,8,27,Monday,30.150000,30.469999,30.020000,30.430000,30.430000,767600,0.025270,30.072143,29.928400,True,False,0
1247,2018,8,28,Tuesday,30.520000,30.639999,30.469999,30.480000,30.480000,493000,0.001643,30.054286,29.904600,True,False,0
1248,2018,8,29,Wednesday,30.500000,30.629999,30.400000,30.540001,30.540001,278100,0.001969,30.075714,29.889600,True,False,0
1249,2018,8,30,Thursday,30.129999,30.160000,29.959999,30.030001,30.030001,579500,-0.016699,30.071429,29.869600,True,False,0
1250,2018,8,31,Friday,29.740000,29.830000,29.510000,29.629999,29.629999,673500,-0.013320,30.067143,29.849200,True,False,0
1251,2018,9,4,Tuesday,29.100000,29.139999,28.860001,28.980000,28.980000,681500,-0.021937,29.998571,29.818000,True,False,0
1252,2018,9,5,Wednesday,28.709999,28.850000,28.549999,28.670000,28.670000,794700,-0.010697,29.944286,29.790600,True,False,0
1253,2018,9,6,Thursday,28.740000,28.799999,28.559999,28.750000,28.750000,658200,0.002790,29.870000,29.763200,True,False,0
1254,2018,9,7,Friday,28.730000,28.750000,28.549999,28.650000,28.650000,465800,-0.003478,29.773571,29.750600,True,False,0
1255,2018,9,10,Monday,28.660000,28.719999,28.540001,28.570000,28.570000,366600,-0.002792,29.655714,29.735800,False,True,1
1256,2018,9,11,Tuesday,28.379999,28.440001,28.190001,28.440001,28.440001,545700,-0.004550,29.520714,29.719200,False,True,0
1257,2018,9,12,Wednesday,28.070000,28.309999,28.000000,28.160000,28.160000,667200,-0.009845,29.355000,29.702400,False,True,0
1258,2018,9,13,Thursday,28.719999,28.760000,28.469999,28.600000,28.600000,439200,0.015625,29.257857,29.696400,False,True,0
1259,2018,9,14,Friday,28.850000,28.940001,28.799999,28.900000,28.900000,484000,0.010490,29.202143,29.692000,False,True,0

In [24]:
df_moving_average = df[['Year', 'Month', 'Date','Adj Close','Buy','Sell','Transactions']]
df_moving_average

      Year  Month  Date  Adj Close    Buy   Sell  Transactions
50    2013     11    25  37.526421   True  False             1
51    2013     11    26  37.086063   True  False             0
52    2013     11    27  37.006802   True  False             0
53    2013     11    29  37.306236   True  False             0
54    2013     12     2  36.883507   True  False             0
55    2013     12     3  36.566448   True  False             0
56    2013     12     4  36.469585   True  False             0
57    2013     12     5  36.178951   True  False             0
58    2013     12     6  36.936352   True  False             0
59    2013     12     9  36.504803   True  False             0
60    2013     12    10  36.372707   True  False             0
61    2013     12    11  35.879513   True  False             0
62    2013     12    12  35.747410   True  False             0
63    2013     12    13  35.536041   True  False             0
64    2013     12    16  35.201378   True  False             0
65    2013     12    17  35.139740   True  False             0
66    2013     12    18  36.496006   True  False             0
67    2013     12    19  35.800255   True  False             0
68    2013     12    20  36.372707   True  False             0
69    2013     12    23  36.654522   True  False             0
70    2013     12    24  36.108490   True  False             0
71    2013     12    26  36.379097   True  False             0
72    2013     12    27  36.502983   True  False             0
73    2013     12    30  36.476444   True  False             0
74    2013     12    31  36.591473   True  False             0
75    2014      1     2  36.007427   True  False             0
76    2014      1     3  36.007427   True  False             0
77    2014      1     6  36.104771   True  False             0
78    2014      1     7  36.025127   True  False             0
79    2014      1     8  35.972034   True  False             0
...    ...    ...   ...        ...    ...    ...           ...
1230  2018      8     3  30.660000  False   True             0
1231  2018      8     6  30.290001  False   True             0
1232  2018      8     7  30.730000  False   True             0
1233  2018      8     8  30.730000  False   True             0
1234  2018      8     9  30.240000  False   True             0
1235  2018      8    10  30.090000  False   True             0
1236  2018      8    13  29.690001  False   True             0
1237  2018      8    14  29.940001   True  False             1
1238  2018      8    15  29.430000   True  False             0
1239  2018      8    16  29.790001   True  False             0
1240  2018      8    17  30.000000   True  False             0
1241  2018      8    20  30.219999   True  False             0
1242  2018      8    21  30.330000   True  False             0
1243  2018      8    22  30.480000   True  False             0
1244  2018      8    23  29.959999   True  False             0
1245  2018      8    24  29.680000   True  False             0
1246  2018      8    27  30.430000   True  False             0
1247  2018      8    28  30.480000   True  False             0
1248  2018      8    29  30.540001   True  False             0
1249  2018      8    30  30.030001   True  False             0
1250  2018      8    31  29.629999   True  False             0
1251  2018      9     4  28.980000   True  False             0
1252  2018      9     5  28.670000   True  False             0
1253  2018      9     6  28.750000   True  False             0
1254  2018      9     7  28.650000   True  False             0
1255  2018      9    10  28.570000  False   True             1
1256  2018      9    11  28.440001  False   True             0
1257  2018      9    12  28.160000  False   True             0
1258  2018      9    13  28.600000  False   True             0
1259  2018      9    14  28.900000  False   True             0

[1210 rows x 7 columns]

In [25]:
def buy(cost,price):
    shares = cost / price
    return shares

cost = 100
    
shares = []

df_moving_average.is_copy = False

for row in range(50,1260):
    if (df_moving_average.loc[row]['Buy'] == True) and (df_moving_average.loc[row]['Transactions'] ==1):
        shares.append(buy(cost,df_moving_average.loc[row]['Adj Close'])) 
    elif (df_moving_average.loc[row]['Buy'] == True) and (df_moving_average.loc[row]['Transactions'] ==0):
        shares.append(shares[len(shares)-1])
    else:
        shares.append(0)



df_moving_average['Shares']= shares

        
df_moving_average

/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4384: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/Users/yinchiahuang/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4385: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

      Year  Month  Date  Adj Close    Buy   Sell  Transactions    Shares
50    2013     11    25  37.526421   True  False             1  2.664789
51    2013     11    26  37.086063   True  False             0  2.664789
52    2013     11    27  37.006802   True  False             0  2.664789
53    2013     11    29  37.306236   True  False             0  2.664789
54    2013     12     2  36.883507   True  False             0  2.664789
55    2013     12     3  36.566448   True  False             0  2.664789
56    2013     12     4  36.469585   True  False             0  2.664789
57    2013     12     5  36.178951   True  False             0  2.664789
58    2013     12     6  36.936352   True  False             0  2.664789
59    2013     12     9  36.504803   True  False             0  2.664789
60    2013     12    10  36.372707   True  False             0  2.664789
61    2013     12    11  35.879513   True  False             0  2.664789
62    2013     12    12  35.747410   True  False             0  2.664789
63    2013     12    13  35.536041   True  False             0  2.664789
64    2013     12    16  35.201378   True  False             0  2.664789
65    2013     12    17  35.139740   True  False             0  2.664789
66    2013     12    18  36.496006   True  False             0  2.664789
67    2013     12    19  35.800255   True  False             0  2.664789
68    2013     12    20  36.372707   True  False             0  2.664789
69    2013     12    23  36.654522   True  False             0  2.664789
70    2013     12    24  36.108490   True  False             0  2.664789
71    2013     12    26  36.379097   True  False             0  2.664789
72    2013     12    27  36.502983   True  False             0  2.664789
73    2013     12    30  36.476444   True  False             0  2.664789
74    2013     12    31  36.591473   True  False             0  2.664789
75    2014      1     2  36.007427   True  False             0  2.664789
76    2014      1     3  36.007427   True  False             0  2.664789
77    2014      1     6  36.104771   True  False             0  2.664789
78    2014      1     7  36.025127   True  False             0  2.664789
79    2014      1     8  35.972034   True  False             0  2.664789
...    ...    ...   ...        ...    ...    ...           ...       ...
1230  2018      8     3  30.660000  False   True             0  0.000000
1231  2018      8     6  30.290001  False   True             0  0.000000
1232  2018      8     7  30.730000  False   True             0  0.000000
1233  2018      8     8  30.730000  False   True             0  0.000000
1234  2018      8     9  30.240000  False   True             0  0.000000
1235  2018      8    10  30.090000  False   True             0  0.000000
1236  2018      8    13  29.690001  False   True             0  0.000000
1237  2018      8    14  29.940001   True  False             1  3.340013
1238  2018      8    15  29.430000   True  False             0  3.340013
1239  2018      8    16  29.790001   True  False             0  3.340013
1240  2018      8    17  30.000000   True  False             0  3.340013
1241  2018      8    20  30.219999   True  False             0  3.340013
1242  2018      8    21  30.330000   True  False             0  3.340013
1243  2018      8    22  30.480000   True  False             0  3.340013
1244  2018      8    23  29.959999   True  False             0  3.340013
1245  2018      8    24  29.680000   True  False             0  3.340013
1246  2018      8    27  30.430000   True  False             0  3.340013
1247  2018      8    28  30.480000   True  False             0  3.340013
1248  2018      8    29  30.540001   True  False             0  3.340013
1249  2018      8    30  30.030001   True  False             0  3.340013
1250  2018      8    31  29.629999   True  False             0  3.340013
1251  2018      9     4  28.980000   True  False             0  3.340013
1252  2018      9     5  28.670000   True  False             0  3.340013
1253  2018      9     6  28.750000   True  False             0  3.340013
1254  2018      9     7  28.650000   True  False             0  3.340013
1255  2018      9    10  28.570000  False   True             1  0.000000
1256  2018      9    11  28.440001  False   True             0  0.000000
1257  2018      9    12  28.160000  False   True             0  0.000000
1258  2018      9    13  28.600000  False   True             0  0.000000
1259  2018      9    14  28.900000  False   True             0  0.000000

[1210 rows x 8 columns]

In [26]:
def sell(cost,shares, price):
    revenue = shares * price
    profit = revenue - cost
    return profit

profit = [] 

for row in range(50,1260):
    if (df_moving_average.loc[row]['Sell'] == True) and (df_moving_average.loc[row]['Transactions'] == 1):
        profit.append(sell(cost,df_moving_average.loc[row-1]['Shares'],df_moving_average.loc[row]['Adj Close'])) 
    else:
        profit.append(0)


df_moving_average['Profit']= profit
df_moving_average.tail(150)

,Year,Month,Date,Adj Close,Buy,Sell,Transactions,Shares,Profit
1110,2018,2,12,35.011150,True,False,0,3.671731,0.000000
1111,2018,2,13,34.346066,True,False,0,3.671731,0.000000
1112,2018,2,14,34.812618,True,False,0,3.671731,0.000000
1113,2018,2,15,35.269241,True,False,0,3.671731,0.000000
1114,2018,2,16,35.378437,True,False,0,3.671731,0.000000
1115,2018,2,20,35.328804,True,False,0,3.671731,0.000000
1116,2018,2,21,35.169979,True,False,0,3.671731,0.000000
1117,2018,2,22,35.308949,True,False,0,3.671731,0.000000
1118,2018,2,23,35.914474,True,False,0,3.671731,0.000000
1119,2018,2,26,36.460434,True,False,0,3.671731,0.000000
1120,2018,2,27,36.311539,True,False,0,3.671731,0.000000
1121,2018,2,28,35.825134,True,False,0,3.671731,0.000000
1122,2018,3,1,34.862251,True,False,0,3.671731,0.000000
1123,2018,3,2,34.574383,True,False,0,3.671731,0.000000
1124,2018,3,5,34.524746,True,False,0,3.671731,0.000000
1125,2018,3,6,34.683571,True,False,0,3.671731,0.000000
1126,2018,3,7,34.504894,True,False,0,3.671731,0.000000
1127,2018,3,8,34.673645,True,False,0,3.671731,0.000000
1128,2018,3,9,34.395702,False,True,1,0.000000,26.291773
1129,2018,3,12,34.792767,False,True,0,0.000000,0.000000
1130,2018,3,13,34.355995,False,True,0,0.000000,0.000000
1131,2018,3,14,34.346066,False,True,0,0.000000,0.000000
1132,2018,3,15,34.475113,False,True,0,0.000000,0.000000
1133,2018,3,16,34.504894,False,True,0,0.000000,0.000000
1134,2018,3,19,33.869591,False,True,0,0.000000,0.000000
1135,2018,3,20,34.167389,False,True,0,0.000000,0.000000
1136,2018,3,21,34.236877,False,True,0,0.000000,0.000000
1137,2018,3,22,33.690910,False,True,0,0.000000,0.000000
1138,2018,3,23,32.668472,False,True,0,0.000000,0.000000
1139,2018,3,26,33.393112,False,True,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
1230,2018,8,3,30.660000,False,True,0,0.000000,0.000000
1231,2018,8,6,30.290001,False,True,0,0.000000,0.000000
1232,2018,8,7,30.730000,False,True,0,0.000000,0.000000
1233,2018,8,8,30.730000,False,True,0,0.000000,0.000000
1234,2018,8,9,30.240000,False,True,0,0.000000,0.000000
1235,2018,8,10,30.090000,False,True,0,0.000000,0.000000
1236,2018,8,13,29.690001,False,True,0,0.000000,0.000000
1237,2018,8,14,29.940001,True,False,1,3.340013,0.000000
1238,2018,8,15,29.430000,True,False,0,3.340013,0.000000
1239,2018,8,16,29.790001,True,False,0,3.340013,0.000000
1240,2018,8,17,30.000000,True,False,0,3.340013,0.000000
1241,2018,8,20,30.219999,True,False,0,3.340013,0.000000
1242,2018,8,21,30.330000,True,False,0,3.340013,0.000000
1243,2018,8,22,30.480000,True,False,0,3.340013,0.000000
1244,2018,8,23,29.959999,True,False,0,3.340013,0.000000
1245,2018,8,24,29.680000,True,False,0,3.340013,0.000000
1246,2018,8,27,30.430000,True,False,0,3.340013,0.000000
1247,2018,8,28,30.480000,True,False,0,3.340013,0.000000
1248,2018,8,29,30.540001,True,False,0,3.340013,0.000000
1249,2018,8,30,30.030001,True,False,0,3.340013,0.000000
1250,2018,8,31,29.629999,True,False,0,3.340013,0.000000
1251,2018,9,4,28.980000,True,False,0,3.340013,0.000000
1252,2018,9,5,28.670000,True,False,0,3.340013,0.000000
1253,2018,9,6,28.750000,True,False,0,3.340013,0.000000
1254,2018,9,7,28.650000,True,False,0,3.340013,0.000000
1255,2018,9,10,28.570000,False,True,1,0.000000,-4.575821
1256,2018,9,11,28.440001,False,True,0,0.000000,0.000000
1257,2018,9,12,28.160000,False,True,0,0.000000,0.000000
1258,2018,9,13,28.600000,False,True,0,0.000000,0.000000
1259,2018,9,14,28.900000,False,True,0,0.000000,0.000000

In [27]:
# count the total number of transactions
df_trans = df_moving_average[(df_moving_average['Transactions']==1)]

total_trans = len(df_trans)/2    #1 buy + 1 sell = 1 transaction
total_profit = sum(df_trans['Profit'])
total_average_profit = total_profit / total_trans

print("trans = ", total_trans)
print("P/L = ",total_average_profit )

# count the number of win transactions
df_win_trans = df_trans[df_trans['Profit']> 0]
win_trans = len(df_win_trans)
win_profit = sum(df_win_trans['Profit'])
average_win_profit = win_profit/ win_trans

print("winning = ", win_trans)
print("P/L = ",average_win_profit)

# count the number of lost transactions
df_lose_trans = df_trans[df_trans['Profit'] < 0]
lose_trans = len(df_lose_trans)
lose_profit = sum(df_lose_trans['Profit'])
average_lose_profit = lose_profit/ lose_trans

print("losing = ", lose_trans)
print("P/L = ", average_lose_profit )

trans =  14.0
P/L =  0.7236981587762484
winning =  4
P/L =  12.506425684383881
losing =  10
P/L =  -3.9893928514668047

In [28]:
#df['std'] = df['Adj Close'].rolling(window = 14).std()
#df['low_band'] = df['st_ma'] - 2 * df['std']
#df['upper_band'] = df['st_ma'] + 2 * df['std']